<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/fontawesome.min.css" integrity="sha512-J2Gce+WmOttffHOrVKLTlzxIalPXUMDbSfn5ADqp8Vj9EngnjNHr+jjiL3ZB8muEzo+K51gU10X+0eGqGNL7QA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark">
  <div class="col p-2 bg-dark fixed-top mb-5">
    <a href="/" class="text-white fw-bold btn p-2 px-3 fs-5 " style="font-family:"Source Code Pro", monospace;">CharacterBot</a>
  </div>
    <div class="col p-3 container mt-5">
        <div class="d-flex p-4 flex-md-row flex-wrap  flex-column gap-5">
          <a href="waguri" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='waguri.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Waguri</h1>
                    <p class="text-white ">Your girlfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@Kaoruko</p>


                </div>
               </div>

            </div>
          </a>
           <a href="emilia" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='kangemil.jpg')}}" height="150" class=" mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Emillia</h1>
                    <p class="text-white ">Your girlfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@Re:zero</p>


                </div>
               </div>

            </div>
          </a>
            <a href="levi" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='levi.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Levi Ackerman</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@AOT</p>


                </div>
               </div>

            </div>
          </a>
            <a href="jeno" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='jeno.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Jeno</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@Kpop</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@NCT</p>


                </div>
               </div>

            </div>
          </a>
             <a href="jiwoo" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='jiwo.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Jiwoo</h1>
                    <p class="text-white ">Your girlfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@NCT</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary  fst-italic">@heart2heart</p>


                </div>
               </div>

            </div>
          </a>
             <a href="jisung" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='jisung.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Jisung</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@Kpop</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@NCT</p>


                </div>
               </div>

            </div>
          </a>
            <a href="zerotwo" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='zerotwo.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Zero Two</h1>
                    <p class="text-white ">Your girlfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@sncthyz</p>


                </div>
               </div>

            </div>
          </a>
            <a href="dazai" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='dazai.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Dazai Osamu</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@sncthyz</p>


                </div>
               </div>

            </div>
          </a>
            <a href="gojo" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='gojo.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Gojo Satoru</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@jujutsukaisen</p>


                </div>
               </div>

            </div>
          </a>
            <a href="nanami" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='nanami.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Nanami</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@jujutsukaisen</p>


                </div>
               </div>

            </div>
          </a>
    <a href="alya" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='alya.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Alya</h1>
                    <p class="text-white ">Your girlfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic" style="font-size:12px">@
Lycoris Recoil
</p>


                </div>
               </div>

            </div>
          </a>
           <a href="oreki" class="text-decoration-none  btn">
 <div class="col shadow-lg rounded-3">
                <div class="p-4">
                    <img src="{{url_for('static', filename='oreki.jpg')}}" height="150" class="mx-auto d-block shadow-bottom rounded-5" alt="">

                </div>
                <div class="col text-center mx-auto">
                    <h1 class="text-white fw-bold fs-5">Oreki Houtarou</h1>
                    <p class="text-white ">Your boyfriend</p>
                </div>
                <hr >
               <div class="d-flex align-items-end container">
                <div class="col-5 ">
                  <p class="text-secondary fst-italic ">@anime</p>

                </div>
                
                <div class="col-9">
                                    <p class="text-secondary fst-italic">@Hyouka</p>


                </div>
               </div>

            </div>
          </a>
            
        </div>
    </div>
    <div class="col shadow-lg">
      <div class="row container ">
        <div class="col">
        <a href="/" class="text-white fw-bold btn p-2 px-3 fs-5 " style="font-family:"Source Code Pro", monospace;">CharacterBot</a>
        <br>
          <script type='text/javascript' src='https://edge-cdn.trakteer.id/js/embed/trbtn.min.js?v=14-05-2025'></script><script type='text/javascript'>(function(){var trbtnId=trbtn.init('Dukung Saya di Trakteer','#be1e2d','https://trakteer.id/andika_cahya_rahman','https://edge-cdn.trakteer.id/images/embed/trbtn-icon.png?v=14-05-2025','40');trbtn.draw(trbtnId);})();</script>

        </div>
        <div class="col">
        </div>
      </div>
    </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>