<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/fontawesome.min.css" integrity="sha512-J2Gce+WmOttffHOrVKLTlzxIalPXUMDbSfn5ADqp8Vj9EngnjNHr+jjiL3ZB8muEzo+K51gU10X+0eGqGNL7QA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="col fixed-top shadow-lg bg-dark">
            <div class="col">
                    <div class="d-flex p-3 align-items-center ">
                            <a href="/"><i class="fa-solid text-start  fa-arrow-left me-2 text-white"></i></a>
                        
                        <img src="{{url_for('static', filename='levi.jpg')}}" alt="tes" height="70" class="rounded-circle px-3" alt="">

                   <div class=" col align-items-center place-items-center">
                       <p class="text-white fw-bold fs-5 px-2 m-0">Levi Ackerman</p>
        <p class=" flex-col text-secondary px-2 m-0" style="font-size:12px">Online</p>

                   </div>   
 
    
</div>

                          
                    </div>

                </div>
                </div>
                </div>
               <div class=" pb-5 mb-5"  style=" padding-bottom: 120px; padding-top:120px;">
   {% for anjay in history[:-1] %}
        <div class="align-items-center"  >
                <div class="col p-3 align-items-center">
 <div class="col ms-auto bg-success rounded-3 w-50">
        <p class=" p-3 text-white">{{anjay.user}}</p>

        </div>
        </div>
       
  <div class="col p-3">
 <div class="col bg-success rounded-3 w-50 mt-2">
        <p class=" p-3 text-white" >{{anjay.answer}}</p>

        </div>
        </div> 
        </div>
   

        {% endfor %}
       {% if history%} 
         <div class="col p-3">
 <div class="col bg-success ms-auto rounded-3 w-50 mt-2">
       <p class="text-white p-3"> {{history[-1].user}}</p>
       </div>
       </div>
         <div class="col p-3">
 <div class="col bg-success rounded-3 p-3 w-50 mt-2">
       <p class="text-white " id="hasil" class="p-3"></p>
       </div>
       </div>
       {%endif%}
               </div> 
     
<div class="p-3 fixed-bottom">
 <div class="col rounded-5 p-3 justify-content-center container " style=" background-color:rgb(50, 50, 50); ">
  <form method="POST" action="/levi" class="justify-content-center container mx-auto">
    <div class="d-flex gap-2">
                <input type="text"  class="bg-dark text-white form-control p-2 rounded-5" name="tempatmasukin" oninput=disabledTombol() autofocus id="inputprompt">
                        <button type="submit" class="btn btn-dark rounded-circle" id="inputtombol" disabled>
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>

    </form>
        <form action="/levi/reset" method="GET">
                <button type="submit" class="btn btn-dark rounded-circle">
                    <i class="fa-solid fa-rotate-right"></i>
                </button>
    



    </div>
    

       </div>
</div>
      
        
    </form>
   
    </div>


     <script>
     teks = "{{result}}";
     i=0;
     hasil = document.getElementById('hasil');
     
     if(window.history.replaceState){
        window.history.replaceState(null,null, window.location.href);
     }

     function disabledTombol(){
        const inputtombol = document.getElementById('inputtombol');
        const inputprompt = document.getElementById('inputprompt');

        if(inputprompt.value.trim() !== ""){
            inputtombol.disabled = false;
            inputtombol.classList.remove('disabled');
        }
        else {
            inputtombol.disabled = true;
            inputtombol.classList.add('disabled');
        }

     }
     


    




     function efekKetiK(){
        if(i < teks.length){
            hasil.innerHTML+= teks.charAt(i);
            setTimeout(efekKetiK, 90);
            i++;
        }
     }
     if(teks){
        efekKetiK();
     }
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    
</body>
</html>